.parking-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.parking-list-item {
  text-align: center;
  max-width: 220px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: solid 1px #0a7e48;
  .parking-list-occupy-block{
      font-weight: 600;
      background-color: aqua;
  }
  .parking-list-block{
    background-color: white;
}
  span{
    color: rgb(12, 84, 133);
    font-weight: 600;
  }
  h4 {
    margin: 0;
    font-weight: 500;
  }
  p {
    margin: 0;
  }
  dl{
    margin: 0;
    padding-top: 5px;
    font-size: x-small;
    color: rgb(12, 84, 133);
  }
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 20px rgba(120, 120, 120, 0.3);
  }
}

.list-title {
  text-align: center;
  margin: 2em auto;
}
