<mat-spinner *ngIf="loading"></mat-spinner>
<div class="parking-container" *ngIf="!loading">
  <h1 class="parking-title">Parking details</h1>
  <div class="parking-info">
    <p><strong>floor: </strong> <span>{{ parking.floor }}</span> /5</p>
      <p><strong>SpaceNumber: </strong> {{ parking.spaceNumber }}</p>
      <p><strong>OccupancyTime:</strong> {{ parking.occupancyTime }}h (total max 24h)</p>
      <dl *ngIf="parking.note != null"><strong>Note:</strong> {{ parking.note && parking.note | uppercase }}</dl>
      <p *ngIf="parking.availability == true"><strong>Disponible:</strong> YES</p>
      <p *ngIf="parking.availability == false"><strong>Disponible:</strong> <span>NO</span></p>
      <dl class="parking-list-occupy-block" *ngIf="parking.assignUser != null"><strong>Assign Member:</strong> {{ parking.assignUser && parking.assignUser }}</dl>
    <div class="control-buttons">
      <button mat-raised-button (click)="onBack()">BACK</button>
      <button mat-raised-button color="primary" (click)="onModify()" *ngIf="userId === parking.userId">MODIFY</button>
      <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="userId === parking.userId">DELETE</button>
    </div>
  </div>
</div>
