<mat-spinner *ngIf="loading"></mat-spinner>
<div class="parking-container" *ngIf="!loading">
  <div class="parking-info">
    <h1 class="parking-spaceNumber">{{ parking?.spaceNumber }}</h1>
    <p class="occupancyTime">by {{ parking?.occupancyTime }}</p>
    <h3>Note</h3>
    <p>{{ parking.note }}</p>
    <div class="control-buttons">
      <button mat-raised-button (click)="onBack()">BACK</button>
      <button mat-raised-button color="primary" (click)="onModify()" *ngIf="userId === parking.userId">MODIFY</button>
      <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="userId === parking.userId">DELETE</button>
    </div>
  </div>
</div>
