<nav>
  <div class="left-nav">
    <ul>
      <li>
        <a routerLink="parkings" routerLinkActive="active" *ngIf="isAuth">
          Toute les parkings
        </a>
      </li>
      <li>
        <a routerLink="new-parking" routerLinkActive="active" *ngIf="isAuth && userRole!='public'">
          Créer une parking
        </a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <div class="logo-image">
      <img src="../../assets/images/car.png">
    </div>
    <div class="logo-text">
      <h1>
        Parking service
      </h1>
      <h5>
        L'application pour reserver parking B2B
      </h5>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li>
        <a routerLink="signup" routerLinkActive="active" *ngIf="!isAuth">
          Inscription
        </a>
      </li>
      <li>
        <a routerLink="login" routerLinkActive="active" *ngIf="!isAuth">
          Connexion
        </a>
      </li>
      <li>
        <a (click)="onLogout()" *ngIf="isAuth">
          Déconnexion
        </a>
      </li>
    </ul>
  </div>
</nav>
