<mat-spinner *ngIf="loading"></mat-spinner>
<h4 class="title-form" *ngIf="mode === 'edit'"> Modification du parking</h4>
<h4 class="title-form" *ngIf="mode === 'new'"> Créer une parking</h4>
<form [formGroup]="parkingForm" *ngIf="!loading">
  <div class="form-group">
    <label for="note">Note</label>
    <textarea class="form-control" id="note" rows="2" formControlName="note"></textarea>
  </div>
  <div class="form-group">
    <label for="floor">Floor *</label>
    <div class="floor-container">
      <input type="range" class="custom-range floor-range" min="1" max="5" id="floor" formControlName="floor">
      <input type="number" class="form-control floor-reading" formControlName="floorValue">
    </div>
  </div>
  <div class="form-group">
    <label for="spaceNumber">Space Number *</label>
    <input type="number" id="nspaceNumber" class="form-control" formControlName="spaceNumber">
  </div>
  <div class="form-group">
    <label for="occupancyTime">Occupancy Time *</label>
    <input type="number" id="occupancyTime" class="form-control" formControlName="occupancyTime">
  </div>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="parkingForm.invalid">SUBMIT</button>
</form>
